---

- name: "Ensure socket group '{{ docker_server__socket_group }}' is present"
  group:
    name:   '{{ docker_server__socket_group }}'
    system: yes
    state:  present

- name: Add users to socket group
  user:
    name:   '{{ item if item is string else item.name }}'
    append: yes
    groups: '{{ docker_server__socket_group }}'
  with_items: '{{ docker_server__socket_group_users }}'
  when: item.state|d('present') == 'present'

# TODO to improve after https://github.com/ansible/ansible/issues/11024
- name: Remove users from socket group
  command: '/usr/sbin/delgroup {{ item.name }} {{ docker_server__socket_group }}'
  with_items: '{{ docker_server__socket_group_users }}'
  when: item is mapping and item.name is defined and item.state|d('present') == 'absent'

- name: Ensure docker directory exists
  file:
    path:  '{{ docker_server__config_dir }}'
    owner: root
    group: root
    mode:  0700
    state: directory

- name: Update daemon configuration file
  copy:
    content: '{{ {} | to_nice_json }}'
    dest:    '{{ docker_server__config_file }}'
    mode:    0640
  notify: ['restart-docker-server']

- name: Configure docker service environment variables
  template:
    src:   docker.config.j2
    dest:  '{{ docker_server__config_vars_file }}'
    owner: root
    group: root
    mode:  0640
  notify: ['restart-docker-server']
