---

- name: Create custom fact directory
  file:
    path:  "{{ facts__dir|d('/etc/ansible/facts.d') }}"
    owner: root
    group: root
    mode:  0755
    state: directory

- name: Insert custom fact files
  template:
    src:   '{{ item.src }}'
    dest:  "{{ facts__dir|d('/etc/ansible/facts.d') }}/{{ item.dest }}"
    owner: root
    group: root
    mode:  0755
  with_items:
    - src:  docker.fact.py.j2
      dest: docker.fact
    - src:  docker_compose.fact.py.j2
      dest: docker_compose.fact

# This is temporary
- name: Remove bad named fact file
  file:
    path:  "{{ facts__dir|d('/etc/ansible/facts.d') }}/docker-compose.fact"
    state: absent
