---

- name: Remove conflicting packages
  package:
    name: '{{ item }}'
    state: absent
  with_items: '{{ docker_server__conflict_packages_names }}'

- name: Install required packages
  package:
    name: '{{ item }}'
    state: present
  with_items: '{{ docker_server__required_packages_names }}'

- include_tasks: '{{ file_item }}'
  with_first_found:
    - files:
        - 'install-{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml'
        - 'install-{{ ansible_distribution }}.yml'
        - 'install-{{ ansible_os_family }}.yml'
  loop_control:
    loop_var: file_item

- name: Install docker engine
  package:
    name: '{{ docker_server__package_name }}'
    state: present

- import_tasks: install-compose.yml
