---
- name: Include the OS specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_distribution }}.yml"
        - "{{ ansible_os_family }}.yml"
      skip: true
  tags: ['docker']

- name: Assert docker variables
  assert:
    that:
      - "(docker__tlscert is defined and docker__tlskey is defined) or ( docker__tlscert is not defined and docker__tlskey is not defined)"
  tags: ['docker']

- name: Run the OS specific install tasks
  include: "{{ ansible_os_family }}.yml"
  tags: ['docker']

- name: Ensure docker daemon is started and enabled on boot
  become: yes
  service:
    name: "{{ docker__service_name }}"
    state: started
    enabled: yes
  changed_when: False
  tags: ['docker']

- name: Download Docker compose tool
  shell: >
    curl -L "https://github.com/docker/compose/releases/download/1.11.1/docker-compose-$(uname -s)-$(uname -m)"
    -o /usr/local/bin/docker-compose
    && chmod +x /usr/local/bin/docker-compose
  when: ansible_architecture == "x86_64"
  tags: ['docker']
