---

- name: Install systemd unit file
  template:
    src:  'docker.service.{{ ansible_os_family }}.j2'
    dest: '/etc/systemd/system/{{ docker_server__service_name }}.service'
  when: ansible_service_mgr == 'systemd'
  notify: ['restart-docker-server']
  register: _docker_server__service

- name: Remove sysvinit unit file
  file:
    path:  /etc/init.d/docker
    state: absent
  when: ansible_service_mgr == 'systemd'

- name: Reload systemd
  systemd:
    name:          '{{ docker_server__service_name }}'
    enabled:       yes
    daemon_reload: yes
  when: _docker_server__service|changed and ansible_service_mgr == 'systemd'

- meta: flush_handlers

- name: Ensure Docker is started and enabled on boot
  service:
    name:    '{{ docker_server__service_name }}'
    enabled: '{{ docker_server__service_enabled|bool }}'
    state:   "{{ docker_server__service_enabled|bool|ternary('started', 'stopped') }}"

# restart feature
- name: Test if docker need to be restart
  stat:
    path: '{{ docker_server__service_restart_stamp_file }}'
  register: _docker_server__restart_file
  check_mode: False

- name: Restart docker if needed and allowed
  service:
    name:  '{{ docker_server__service_name }}'
    state: restarted
  when: docker_server__service_enabled|bool and docker_server__service_restartable|bool and _docker_server__restart_file.stat.exists

- name: Remove stamp file if docker daemon is disabled
  file:
    path:  '{{ docker_server__service_restart_stamp_file }}'
    state: absent
  when: not docker_server__service_enabled|bool
