{{ ansible_managed|comment(decoration='# ') }}

[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket firewalld.service
Requires=docker.socket

[Service]
EnvironmentFile=-/etc/environment
{% if docker_server__service_environment is defined %}
EnvironmentFile={{ docker_server__service_environment }}
{% endif %}
Type=notify
{% if not docker_server__service_restartable|bool %}
# Remove must restart stamp file
ExecStartPre=-/usr/bin/env rm -f {{ docker_server__service_restart_stamp_file }}
{% endif %}
ExecStart={{ docker_server__service_executable }} $OPTIONS
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target
